/*
Lightreset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    position: relative;
}

a, a:active {
    text-decoration: none;
    outline: 0 !important;
}

a:hover {
    text-decoration: underline;
    color: #0286ED !important
}

h1 {
    margin: 0.5em 0px;
    font-size: 2em;
}

h2 {
    margin: 0.66666em 0px;
    font-size: 1.5em;
}

h3 {
    margin: 0.85510em 0px;
    font-size: 1.17em;
}

h4 {
    margin: 1em 0px;
    font-size: 1em;
}

h5 {
    margin: 1.20401em 0px;
    font-size: 0.83055em;
}

h6 {
    margin: 1.49377em 0px;
    font-size: 0.66944em;
}

p {
    margin: 1em 0px;
    font-size: inherit;
}

caption, th {
    text-align: left;
}

ul {
    list-style-position: inside;
}

a img {
    border: none;
}


/* Fonts */

@font-face {
    font-family: 'GalaxieCopernicusMedium';
    src: url('/assets/fonts/GalaxieCopernicusMedium/galaxie_copernicus_medium.eot');
    src: url('/assets/fonts/GalaxieCopernicusMedium/galaxie_copernicus_medium.eot') format('embedded-opentype'), url('/assets/fonts/GalaxieCopernicusMedium/galaxie_copernicus_medium.woff') format('woff'), url('/assets/fonts/GalaxieCopernicusMedium/galaxie_copernicus_medium.ttf') format('truetype'), url('/assets/fonts/GalaxieCopernicusMedium/galaxie_copernicus_medium.svg#GalaxieCopernicusMedium') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/assets/fonts/OpenSansBold/opensans-bold-webfont.eot');
    src: url('/assets/fonts/OpenSansBold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/OpenSansBold/opensans-bold-webfont.woff') format('woff'), url('/assets/fonts/OpenSansBold/opensans-bold-webfont.ttf') format('truetype'), url('/assets/fonts/OpenSansBold/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('/assets/fonts/OpenSansSemiBold/opensans-semibold-webfont.eot');
    src: url('/assets/fonts/OpenSansSemiBold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/OpenSansSemiBold/opensans-semibold-webfont.woff') format('woff'), url('/assets/fonts/OpenSansSemiBold/opensans-semibold-webfont.ttf') format('truetype'), url('/assets/fonts/OpenSansSemiBold/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('./assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('./assets/fonts/ProximaNova-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('./assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-text-size-adjust: 100%;
}

div#wrap {
    min-height: 100%;
    min-width: 1180px;
}

div#wrap div.max, div.max {
    overflow: hidden;
    max-width: 956px;
    width: 1120px;
    height: 100%;
    margin: 0 auto;
}


/*
Links
*/

a:active, a:focus {
    outline-width: 1px;
    outline-style: dotted;
}

a, a:active, a:focus {
    color: #393939;
}

a.button_link {
    display: inline-block;
    border-radius: 3px;
    /*text-decoration:none;*/
    white-space: nowrap;
    cursor: pointer;
    vertical-align: baseline;
    /* line-height:100%;*/
    overflow: visible;
    width: auto;
    padding: 4px 6px;
    border: none;
    font-weight: bold;
    font-size: 0.91em;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    text-decoration: none;
}

.toggleSwitch {
    position: relative;
    width: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggleSwitch-checkbox {
    display: none;
}

.toggleSwitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #CDCDCD;
    border-radius: 20px;
    padding-left: 0;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px 1px #D0D0D0 inset;
}

.toggleSwitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.toggleSwitch-inner:before, .toggleSwitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    padding: 0;
    line-height: 29px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    color: #616161;
    font-size: 11px;
    box-sizing: border-box;
}

.toggleSwitch-inner:before {
    content: "Off";
    padding-left: 8px;
}

.toggleSwitch-inner:after {
    content: "On";
    padding-right: 10px;
    text-align: right;
}

.toggleSwitch.push-ipad .toggleSwitch-inner:before {
    content: "No";
    padding-left: 8px;
}

.toggleSwitch.push-ipad .toggleSwitch-inner:after {
    content: "Yes";
    padding-right: 10px;
    text-align: right;
}


.toggleSwitch-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 2px 0;
    background: #616161;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33px;
    border: 1px solid #CDCDCD;
    border-radius: 20px;
    transition: all 0.2s ease-in 0s;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    color: #fff;
    font-size: 11px;
}

.toggleSwitch-switch::before {
    content: 'Off';
}

.toggleSwitch.push-ipad .toggleSwitch-switch::before {
    content: 'No';
}



.toggleSwitch-checkbox:checked+.toggleSwitch-label .toggleSwitch-inner {
    margin-left: 0;
}

.toggleSwitch-checkbox:checked+.toggleSwitch-label .toggleSwitch-switch {
    right: 2px;
    background-color: #0286ED;
}

.toggleSwitch-checkbox:checked+.toggleSwitch-label .toggleSwitch-switch::before {
    content: 'On';
}

.toggleSwitch-checkbox:checked+ .toggleSwitch-label.push .toggleSwitch-switch::before {
    content: 'Yes';
}




/*
Header
*/

div#header {
    position: relative;
    display: flex;
    align-items: center;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #1E1E1E;
    z-index: 9999;
}

div#header .main-navigation>div {
    display: inline-block;
}

div#header .main-navigation a {
    color: #fff;
}

div#header form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div#header a {
    display: block;
    padding: 15px 15px;
    font-family: 'ProximaNova-Semibold', Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

div#header .main-navigation {
    flex-grow: 2;
}

div#header .main-navigation>div:first-child a {
    /*padding-right: 0;*/
}

div#header a:hover {
    text-decoration: none;
}

div#header input#search {
    font-size: 1.33em;
    padding: 5px 10px 5px 40px;
    width: 260px;
    height: 30px;
    background-color: #1E1E1E;
    border-bottom: 2px solid rgba(90,90,90,1);
    outline: 0;
}

div#header .search-container input{
    max-width: 185px;
    font-size: 11px !important;
}

div#header .log-out {
    margin-left: 20px;
    margin-right: 20px;
}

div#header .log-out a{
    color: #fff;
    text-transform: capitalize;
    font-family: 'ProximaNova-Regular';
    font-style: italic;
    font-size: 14px;
}

div#header .log-out a:hover{
    color: #fff !important;
    text-decoration: none;
}

div#header .search-container::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    content: '\e93d';
    font-family: 'mill-icon-font';
    font-style: normal;
    font-weight: normal;
    color: #rgba(90,90,90,1);
    font-size: 26px;
    pointer-events: none;
}

div#header div#menu_navigation {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 38px;
    right: -14px;
    padding: 55px 25px 0px 25px;
    width: 210px;
    height: 363px;
    background: url('/assets/images/admin/header/menu_navigation.png') top left;
}

div#header .header-logo img {
    max-width: 21px;
}


/*
Main
*/

div#main {
    /*	background-color: #FFFFFF;*/
    /*padding-top: 115px;*/
    padding-bottom: 20px;
    color: #323232;
}

.App-body {
    width: 956px;
    margin: 20px auto;
}


/*
Footer
*/

div#footer {
    width: 100%;
    height: 240px !important;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    color: #FFFFFF;
    background: #000000;
}


/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border-bottom: 1px solid #D9D9D9;
}

table th {
    /*border-bottom: 25px solid #E7E5E3;*/
    font-family: 'ProximaNova-Semibold', Arial, sans-serif;
}

table tfoot th {
    padding: 15px 0px 15px 0px;
}

table td {
    /*border-bottom: 5px solid #e5e5e5;*/
}

th, td {
    background: #FFFFFF;
}

.archives {
    margin-top: 20px;
}

.archives_tbody tr td.archive_enabled_0, .archives_tbody tr td.archive_enabled_1 {
    display: none !important;
    /* TODO: remove this when response is correct */
}

.archives_tbody tr td img {
    max-width: 80px;
    height: auto;
}

.ipad-push-container {
    display: flex;
    width: 100%;
    margin-top: 29px;
    padding-top: 29px;
    padding-bottom: 29px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    border-top: 1px solid rgba(151, 151, 151, 0.3);
}

.ipad-push-container h3{
    display: block !important;
    margin: 0 !important;
}

.url{
    padding-top: 29px;
    padding-bottom: 29px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.url h3 {
    margin-top: 0 !important;
}

.archive-pagination {
    margin-top: 47px;
    margin-bottom: 100px;
}

.archive-pagination ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.archive-pagination ul li {
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
}

.archive-pagination ul li.active span {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
}

.archive-pagination ul li span {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.archive-pagination ul li:first-child span, .archive-pagination ul li:last-child span {
    display: block;
    min-width: 15px;
    text-indent: -9999px;
}

.archive-pagination ul li:first-child::before, .archive-pagination ul li:last-child::before {
    position: absolute;
    margin-left: -2px;
    left: 0;
    top: 0;
    pointer-events: none;
    font-family: 'mill-icon-font' !important;
    font-size: 25px;
    content: "\e906";
    line-height: 0.7;
}

.archive-pagination ul li:first-child::before {
    content: "\e906";
}

.archive-pagination ul li:last-child::before {
    content: "\e908";
}


.boolean-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    background: #0286ED;
    border-radius: 50%;
}

.boolean-icon.enabled_0 {
    background: #9B9B9B;
}
§
.boolean-icon.enabled_0:before,
.boolean-icon.enabled_1:before {
    color: #fff;
    font-size: 11px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
}

.boolean-icon.enabled_0:before {
    content: "No";
    color: #fff;
    font-size: 11px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
}

.boolean-icon.enabled_1 {
    background: #0286ED;
}

.boolean-icon.enabled_1:before {
    content: "Yes";
}

.modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 10000;
}

.modal .modal-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 454px;
    min-height: 200px;
    margin-top: 10%;
    background: #fff;
    box-shadow: 0px 2px 5px #000;
}

.modal .modal-inner .close-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-size: 32px;
}

.modal.modal-video .modal-inner {
    min-height: 365px;
    width: 570px;
}

.modal.modal-video .modal-inner video{

}

.category-add-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 269px;
}

.category-add-form label{
    font-family: 'ProximaNova-Bold';
    font-size: 11px;
}

.category-add-form input[type="text"]{
    margin-top: 10px;
}

.category-add-form input[type="submit"]{
    margin-top: 30px;
}

/* Category preview styles */

.category-list-container.preview .category-list .flex-table-cell:first-child,
.category-list-container.preview .category-list .category-cell input,
.category-list-container.preview .edit-buttons,
.category-list-container.preview .toggleSwitch,
.category-list-container.preview .category-list .flex-table-cell:last-child{
    display: none;
}

.category-list-container.preview .category-list .flex-table-row {
    pointer-events: none !important;
    cursor: default;
}

.category-list-container.preview .category-list .flex-table-cell p,
.category-list-container.preview .preview-buttons{
    display: block;
}

.category-list-container.preview .boolean-icon {
    display: flex;
}

.category-list-container.preview .flex-table-row{
    max-height: 50px;
}

.category-list-container.preview .category-list .category-cell {
    justify-content: flex-start;
    padding-left: 80px;
}

/* Category edit styles */

.category-list-container .category-list .flex-table-cell p,
.category-list-container .preview-buttons,
.category-list-container .boolean-icon{
    display: none;
}




/* flex table */

.flex-table {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 25px;
    min-height: 790px;
}

.flex-table .flex-table-header {
    padding-bottom: 13px;
}

.flex-table .flex-table-row {
    display: flex;
    flex-flow: row nowrap;
    background: #fff;
}

.flex-table .flex-table-row a:hover {
    background: #EBEBEB;
    color: #000 !important;
    text-decoration: none;
}

.flex-table .flex-table-header .flex-table-cell {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 11px !important;
    font-weight: 600;
}

.flex-table .flex-table-row a, .flex-table .flex-table-header {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #D9D9D9;
    align-items: center;
}

.flex-table .flex-table-cell {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-start;
    word-break: break-word;
    font-family: 'ProximaNova-Regula', Arial, sans-serif;
    font-size: 11px;
}

.flex-table .flex-table-header>div:first-child, .flex-table .flex-table-row .thumbnail-cell {
    max-width: 100px;
}

/* Archive table overrides / additions */

.flex-table.archive-list .flex-table-row a {
    width: 100%;
}

.flex-table.archive-list .flex-table-header .flex-table-cell{
    justify-content: flex-start;
}

.flex-table.archive-list .flex-table-row .flex-table-cell:nth-child(3),
.flex-table.archive-list .flex-table-header .flex-table-cell:nth-child(3) {
    min-width: 300px;
}

.flex-table.archive-list .flex-table-header .flex-table-cell:nth-child(2){
    max-width: 100px;
}

.flex-table.archive-list .flex-table-row .flex-table-cell:first-child,
.flex-table.archive-list .flex-table-header .flex-table-cell:first-child {
    max-width: 75px;
    justify-content: center;
}


/* Category table overrides / additions */

.flex-table.category-list .flex-table-header{
    padding-bottom: 0;
}

.flex-table.category-list .flex-table-cell {
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}

.flex-table.category-list .flex-table-cell i {
    font-size: 30px;
}

.flex-table.category-list .flex-table-cell a {
    font-size: 30px;
    text-decoration: none;
    border: 0;
}

.flex-table.category-list .flex-table-cell a:hover {
    background: transparent !important;
}

.flex-table.category-list .flex-table-header .flex-table-cell:first-child {
    max-width: none !important;
}

.flex-table.category-list .flex-table-header .flex-table-cell:first-child {
    max-width: none !important;
}

.flex-table.category-list .flex-table-cell.category-cell {
    flex-grow: 5;
}

.flex-table.category-list .flex-table-header .flex-table-cell.category-cell {

}

.flex-table.category-list .flex-table-cell.category-cell input {
    max-width: 272px;
    height: auto;
    font-size: 14px;
}

.flex-table.category-list .flex-table-row {
    border-bottom: 1px solid #D9D9D9;
    cursor: -webkit-grab;
    cursor: grab;
}

.flex-table.category-list .flex-table-row a {
    margin: 0;
    padding: 0;
}


/* Login Page */

body.login {
    /*background: #E6E6E6;*/
}

.default-btn {
    padding: 8px 20px 5px 20px;
    line-height: 1.4;
    background: #fff;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #000;
    outline: 0;
    font-size: 13px;
    color: #000;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    text-transform: uppercase;
    min-width: 130px;
}

.default-btn.black-btn {
    background: #000;
    color: #fff;
}

.default-btn.grey-btn {
    background: #909090;
    color: #fff;
    border:0;
}

.default-btn.grey-btn:hover {
    color: #fff !important;
    text-decoration: none;
}


.login .login-main {
    padding-top: 120px;
    margin: 0px auto;
    width: 280px;
    background: none;
}

.login .login-main .login-main-logotype a {
    background: url('/assets/images/admin/logotype.gif') no-repeat center;
    width: 100%;
    height: 124px;
    margin: 0 auto;
    text-indent: -9999em;
    display: block;
}

.login .login-main .login-main-box {
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    /*	margin-top: 20px;*/
    padding: 25px 25px 15px;
    -webkit-box-shadow: 0 0 5px #ABABAB;
    -moz-box-shadow: 0 0 5px #ABABAB;
    box-shadow: 0 0 5px #ABABAB;
    border-radius: 3px;
    border-top: none;
}

.login form {
    padding-top: 15px;
    overflow: hidden;
}

.login form fieldset {
    margin-bottom: 15px;
}

.login-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 100%;
    flex-flow: column wrap;
    width: 280px;
}

.login-container h2 {
    max-width: 187px;
    line-height: 1.8;
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    text-align: center;
    align-self: center;
}

.login-container form {
    width: 100%;
}

.login-container form div input {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 7px;
    width: 100%;
    height: auto !important;
}

.login-container form div label {
    display: flex;
    align-items: center;
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #000;
}

.login-container form div label::before{
    font-family: 'mill-icon-font' !important;
    font-size: 24px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-container form div.email {
    margin-bottom: 15px;
}

.login-container form div.email label::before{
    content: '\e93a';
}

.login-container form div.password label::before{
    content: '\e92b';
}

.login-container form div.login-button input {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 11px;
}

.login-container i {
        margin-bottom: 12px;
    display: block;
    font-size: 60px;
    align-self: center;
    color: rgba(55,55,55,1);
}

.page-footer {
    position: relative;
    margin-top: 40px;
    width: 100%;
}

.page-footer .overview-box{

}

.overview-box {
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 11px;
}

.page-footer .pagination{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.overview-box span{
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
}

.lock-scroll {
    overflow-y: hidden !important;
}


/* General Classes */

.small {
    width: 33%;
}

.medium {
    width: 66%;
}

.large {
    width: 98%;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    font-size: 13px;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
}

input[type='submit'], input[type='button'] {
    -webkit-appearance: none;
}


fieldset {
    margin-bottom: 25px;
}

input, textarea, select {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 4px #D9D9D9 inset;
    -moz-box-shadow: 0 0 4px #D9D9D9 inset;
    box-shadow: 0 0 4px #D9D9D9 inset;
}

input.invalid, textarea.invalid {
    background-color: #f4e9e7;
    border-color: #ae432e;
}

input:focus, textarea:focus {
    background-color: #EDEDED;
    border-color: #A6A6A6;
}

label, input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
}

select, input, textarea, button {
    font-size: 99%;
    font-family: 'ProximaNova-Regular';
}

input[type=text], input[type=password], textarea, select {
    padding: 6px;
}

strong, th {
    font-weight: normal;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

em {
    font-style: normal;
    font-family: 'OpenSansItalic', Arial, sans-serif;
}


/* Buttons */


/* Buttons :: Button Like Link */

.button-link {
    background-color: #AE432E;
    padding: 2px 6px;
    border: none;
    color: #FFFFFF;
    line-height: 1.231;
}

.button-link.blue {
    background-color: #066d99;
}

.button-link.green {
    background-color: #6a9912;
}

.button-link.gray {
    background-color: #929494;
}

.button-link.orange {
    background-color: #E90A8A;
}


/*.button-link:hover {
    background-color: #4C4C4C;
    color: #FFFFFF;
}*/

div.main .button-link {
    color: #393939;
    background: #D0CCC8;
    padding: 10px 15px;
    line-height: 100%;
}

.spinner-screen {
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transition: all .7s;
}

.spinner-screen.visible {
    opacity: 1;
}

a.button {
    height: 18px;
    padding-top: 5px;
}

.no-cssgradients .button, .no-cssgradients button {
    background: #AE432E url('/assets/images/admin/buttons/red.png') repeat-x left top;
}

.no-cssgradients .button:hover, .no-cssgradients button:hover {
    background: #963C2A url('/assets/images/admin/buttons/red_hover.png') repeat-x left top;
}


/* Buttons :: Button :: Blue */

.button.blue, button.blue {
    border-color: #1495CC #2B8AB3 #066D99;
    background: -moz-linear-gradient(top, #AFE3FA, #6CB8D9 5%, #088EC8 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#AFE3FA), to(#088EC8), color-stop(0.05, #6CB8D9));
    background: -o-linear-gradient(top, #AFE3FA, #6CB8D9 5%, #088EC8 100%);
    color: #EBF9FF;
}

.button.blue:hover, button.blue:hover {
    background: -moz-linear-gradient(top, #AFE3FA, #6CB8D9 5%, #077BAD 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#AFE3FA), to(#077BAD), color-stop(0.05, #6CB8D9));
    background: -o-linear-gradient(top, #AFE3FA, #6CB8D9 5%, #077BAD 100%);
    color: #FFFFFF;
}

.no-cssgradients .button.blue, .no-cssgradients button.blue {
    background: #088EC8 url('/assets/images/admin/buttons/blue.png') repeat-x left top;
}

.no-cssgradients .button.blue:hover, .no-cssgradients button.blue:hover {
    background: #0A7DAE url('/assets/images/admin/buttons/blue_hover.png') repeat-x left top;
}


/* Buttons :: Button :: Green */

.button.green, button.green {
    border-color: #8DCC18 #7CB315 #6A9912;
    background: -moz-linear-gradient(top, #D7FA96, #ABD957 5%, #78AC15 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#D7FA96), to(#78AC15), color-stop(0.05, #ABD957));
    background: -o-linear-gradient(top, #D7FA96, #ABD957 5%, #78AC15 100%);
    color: #F7FFE5;
}

.button.green:hover, button.green:hover {
    background: -moz-linear-gradient(top, #D7FA96, #ABD957 5%, #659111 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#D7FA96), to(#659111), color-stop(0.05, #ABD957));
    background: -o-linear-gradient(top, #D7FA96, #ABD957 5%, #659111 100%);
    color: #FFFFFF;
}

.no-cssgradients .button.green, .no-cssgradients button.green {
    background: #78AC15 url('/assets/images/admin/buttons/green.png') repeat-x left top;
}

.no-cssgradients .button.green:hover, .no-cssgradients button.green:hover {
    background: #679212 url('/assets/images/admin/buttons/green_hover.png') repeat-x left top;
}


/* Buttons :: Button :: Gray */

.button.gray, button.gray {
    border-color: #B1B3B3 #A4A6A6 #929494;
    background: -moz-linear-gradient(top, #F2F2F2, #CCCCCC 5%, #ABACAC 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#ABACAC), color-stop(0.05, #CCCCCC));
    background: -o-linear-gradient(top, #F2F2F2, #CCC 5%, #ABACAC 100%);
    color: #727373;
    text-shadow: 0 1px 2px #999;
}

.button.gray:hover, button.gray:hover {
    background: -moz-linear-gradient(top, #F2F2F2, #CCCCCC 5%, #979999 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#979999), color-stop(0.05, #CCCCCC));
    background: -o-linear-gradient(top, #F2F2F2, #CCCCCC 5%, #979999 100%);
    color: #585959;
}

.no-cssgradients .button.gray, .no-cssgradients button.gray {
    background: #ABACAC url('/assets/images/admin/buttons/gray.png') repeat-x left top;
}

.no-cssgradients .button.gray:hover, .no-cssgradients button.gray:hover {
    background: #9A9C9C url('/assets/images/admin/buttons/gray_hover.png') repeat-x left top;
}


/* Buttons :: Button :: Disable */

.button.disabled, button:disabled {
    background: #FAFAFA;
    border-color: #B1B3B3;
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
    color: #A0A0A0;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
}


/* Notifications */

.notification{
    position: fixed;
    left: 0;
    bottom: 100px;
    top: auto;
    height: 50px;
    z-index: 90000;
    width: 100%;
    right: auto;
    max-width: 100%;
    display: block;
    padding: 10px 10px 8px 36px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid;
    color: #646464;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin: 10px 0;
    line-height: 150%;
}

.close-notification {
    float: right;
    padding: 10px 3px 3px;
    text-decoration: none;
    color: #737373;
    position: relative;
    top: -16px;
    right: -2px;
    z-index: 1;
}

.close-notification:hover {
    color: #333333;
}

.notification.error {
    background-color: #F2D4CE;
    border-color: #AE432E;
}

.notification.error strong {
    color: #AE432E;
}

.notification.success {
    background-color: #D9E6C3;
    border-color: #77AB13;
}

.notification.success strong {
    color: #69990F;
}

.notification.attention {
    background-color: #FAF6D4;
    background-image: url('/assets/images/admin/icons/icon_notification_attention.png');
    border-color: #E6C26E;
}

.notification.attention strong {
    color: #BE8007;
}

.notification.information {
    background-color: #CEE6F2;
    background-image: url('/assets/images/admin/icons/icon_notification_information.png');
    border-color: #058DC7;
}

.notification.information strong {
    color: #0576A6;
}

.notification.note {
    background-color: #F2F2F2;
    background-image: url('/assets/images/admin/icons/icon_notification_note.png');
    border-color: #D1D1D1;
}

.notification.note strong {
    color: #737373;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
    overflow: auto;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 8px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul {
    margin-top: 14px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

input+label {
    padding-left: 5px;
}

.hr {
    margin: 10px 0px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 0 !important;
    overflow: hidden;
    width: auto;
}

.pagination div{

}

.pagination-previous_button a, .pagination-next_button a, .pagination-previous_button-disabled a, .pagination-next_button-disabled a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pagination-previous_button a:hover, .pagination-next_button a:hover {
    color: #000;
}
.pagination-previous_button a i, .pagination-next_button a i {
    font-size: 28px;
}

.pagination-previous_button {
    position: relative;
}

.pagination-previous_button-disabled a {}

.pagination-next_button a {}

.pagination-next_button-disabled a {}

.pagination-page_numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ProximaNova-Regular', Arial, sans-serif;
    font-size: 16px;
}

.pagination-page_numbers a {
    cursor: pointer;
}

.pagination-page_number {
    padding-left: 3px;
    padding-right: 3px;
}

.pagination-page_number_selected {
    font-weight: bold;
    pointer-events: none;
    cursor: inherit;
}

.pagination-page_space {
    padding: 5px 0px;
    float: left;
}

.pagination-page_reticence {
    padding: 2px 0px;
    float: left;
}


/* Specific Layout */

.edit-archive-container form,
.edit-archive-container {
    display: flex;
    justify-content: space-between;
}

.edit-archive-container .sidebar {
    flex: 1;
    padding-left: 30px;
}

.edit-archive-container .content {
    flex: 1.3;
    min-width: 523px;
}

.edit-archive-container input,
.edit-archive-container textarea {
    width: 100%;
}

.edit-archive-container .sidebar .edit-button-container {

}

.edit-archive-container .video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    color: #fff;
    background: rgba(0,0,0,0.6);
    cursor: pointer;
    transition: all.4s;
}

.edit-archive-container .video-overlay:hover {
    background: rgba(0,0,0,0.8);
}

.edit-archive-container .video-overlay span:first-child{
    color: #fff;
    font-size: 90px;
    line-height: 0.6;
    transition: all .3s;
}

.edit-archive-container .video-overlay.thumbnail .icon_camera{
    display: block;
    margin-bottom: 10px;
    width: 34px;
    height: 29px;
    background: url('/assets/images/admin/icons/icons_camera.svg') no-repeat center center;
}

.edit-archive-container .video-overlay.thumbnail:hover span:first-child{
    margin-top: -5px
}

.edit-archive-container .video-overlay.video-play:hover span:first-child{
    font-size: 95px;
}

.edit-archive-container .video-overlay.video-play {
    background: rgba(0,0,0,0.2);
    text-shadow: 0px 0px 10px #000;
}

.edit-archive-container .sidebar .edit-button-container{
    display: flex;
    justify-content: flex-end;
}

.edit-archive-container .sidebar .edit-button-container .default-btn:first-child {
    margin-right: 10px;
}

.edit-archive-container .content {}

.edit-archive-container .categories {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    margin-bottom: 20px;
}

.edit-archive-container .categories h3,
.edit-archive-container .url h3 {
    display: block !important;
    font-weight: normal;
}

.edit-archive-container .categories .tagit {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-left: 0;
    padding-right: 0;
}

.edit-archive-container .categories .tagit input {
    width: 100%;
}

.edit-archive-container .categories .tagit li.tagit-new {
    order: 1;
    flex: 1 100%;
}

.edit-archive-container .categories .tagit li.tagit-choice span {}

.edit-archive-container .categories .tagit li.tagit-choice {
    height: 24px;
    order: 2;
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    border-radius: 2px;
    background-color: #2F2F2F;
}

.edit-archive-container .categories .tagit li.tagit-choice {
    height: 24px;
    order: 2;
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    border-radius: 2px;
    background-color: #2F2F2F;
}

.edit-archive-container .content-preview {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-size: 13px;
}


/** Preview mode **/

.edit-archive-container.preview .categories .tagit {
    display: flex;
    flex-direction: row;
    pointer-events: none;
    padding: 0;
}

.edit-archive-container.preview .categories .tagit li.tagit-new {
    display: none;
}

.edit-archive-container.preview .categories .tagit li.tagit-choice {
    order: 2;
    padding: 0;
    background: none;
    border: 0;
    pointer-events: none;
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

.edit-archive-container.preview .categories .tagit li.tagit-choice .tagit-close {
    display: none;
}

.edit-archive-container.preview .categories .tagit li.tagit-choice span {
    color: #000;
}


/* Toggle edit mode */


/*.edit-archive-container.preview input[type="text"],
.edit-archive-container.preview textarea,
.edit-archive-container.preview .remove,
.edit-archive-container.preview .credit-container span,
.edit-archive-container.preview .credit-repeater label,
.edit-archive-container.preview .credit-repeater a,
.edit-archive-container.preview .archive_credit_actions,
.edit-archive-container.preview .archive_credit_detail_actions,
.edit-archive-container.preview .default-btn.save,
.edit-archive-container.preview .video-overlay.thumbnail,
.edit-archive-container.preview .actions,
.edit-archive-container.preview .toggleSwitch{
    display: none !important;
}*/

/* Always hide image upload input */
/*.edit-archive-container input[type="file"],
.ipad-push-checkbox {
    display: none !important;
}*/

/*.edit-archive-container p,
.edit-archive-container h3,
.edit-archive-container .boolean-icon,
.edit-archive-container .video-overlay.video-play  {
    display: none;
}*/

.edit-archive-container.preview p,
.edit-archive-container.preview h3{
    display: block;
}

.edit-archive-container.preview .boolean-icon,
.edit-archive-container.preview .video-overlay.video-play  {
    display: flex;
}

.edit-archive-container .archive_credit_detail_actions {
    margin-left: 15px;
}

.edit-archive-container .archive_credit_detail_actions .add-credit-btn{
    font-style: italic;
    text-decoration: underline;
}

.edit-archive-container .archive_credit_actions .grey-btn {
    width: 100%;
}
.edit-archive-container .archive_credit_actions a{
    display: block !important;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 1px;
}

.edit-archive-container .archive_credit_actions a::before{
    content: '';
}

.edit-archive-container .fields:last-child {
    /*padding-left: 20px;*/
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.edit-archive-container .fields.inner-fields{
    border-bottom: 0;
}

.edit-archive-container .remove {
    position: absolute;
    right: 0;
    top: 0;
    font-style: italic;
}

.edit-archive-container .remove:hover {
    color: #000 !important;
}

.edit-archive-container .section-title {
    margin-top: 25px;
    color: rgba(0, 0 0, 0.87);
    font-family: "ProximaNova-Bold", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.edit-archive-container .nested_fields {
    margin-bottom: 0;
}

.edit-archive-container .nested_fields .actions {
    position: absolute;
    right: 0;
    top: 0;
}

.edit-archive-container .nested_fields .actions.repeater-actions {
    position: relative;
    margin-bottom: -20px;
}

.edit-archive-container .nested_fields .actions.repeater-actions a{
    display: block;
    font-size: 22px;
    text-align: center;
}

.edit-archive-container .nested_fields .actions.repeater-actions a:hover{
    text-decoration: none;
    color: #000 !important;
}

.edit-archive-container textarea,
.edit-archive-container input[type="text"] {
    line-height: 1.7;
}

.edit-archive-container .nested_fields .actions a{
    font-style: italic;
}

.edit-archive-container .nested_fields.repeater {
    padding-left: 15px;
}

.edit-archive-container .nested-fields .field {
    display: flex;
}

.credit-container .credit-heading-field {
    width: 100%;
    margin-bottom: 20px;
}

.preview .credit-container .credit-repeater {
    display: block;
}

.credit-container .credit-repeater div {
    flex: 4;
}

.credit-container .credit-repeater div:last-child {
    flex: 1;
}

.credit-container label, .credit-container span {
    display: block;
    margin-bottom: 10px;
    font-family: "ProximaNova-Bold", Arial, sans-serif;
    font-size: 13px;
    color: #000000;
}

.credit-container .credit-repeater {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.credit-container .credit-repeater input {
    width: 100%;
}

.credit-container .credit-heading-field {}

.credit-container .credit-repeater .title p {
    font-family: 'ProximaNova-Bold', Arial, sans-serif;
    font-size: 14px;
}

.credit-container .credit-repeater .content p {
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.7;
    margin: 0.5em 0;
}

.archive_enabled_0, .category_enabled_0, .ipad_enabled_0, .screensaver_enabled_0 {
    background: #D0CCC8;
}

.archive_enabled_1, .category_enabled_1, .ipad_enabled_1, .screensaver_enabled_1 {
    background: #F58F31;
    color: #FFFFFF;
}

.action {
    display: none;
}

.action_placeholder {
    display: block;
}

.block-edit {
    pointer-events: none;
}

.archive-video-thumbnail {
    width: 100%;
    min-height: 300px;
}

tr:hover .action {
    display: block;
}

tr:hover .action_placeholder {
    display: none;
}

input[type="text"], input[type="password"], #main textarea {
    padding: 8px 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    resize: none;
    box-shadow: none;
}

#main form input[type="submit"], .login form input[type="submit"] {}

.login form input[type="submit"] {
    padding: 10px 15px;
}

#main form input[type="submit"].gray {
    background: #E7E5E3;
}

#main form input[type="submit"].orange, .login form input[type="submit"].orange {
    background: #0286ED;
    color: #FFFFFF;
}

.quick_edit {
    display: none;
}

#quick_edit_brand {
    width: 170px;
}

#quick_edit_title {
    width: 110px;
}

#quick_edit_date {
    width: 110px;
}

.title {
    font-family: 'GalaxieCopernicusMedium', Arial, sans-serif;
}

.field h3 {
    display: block;
    padding: 5px 0px;
    font-family: "ProximaNova-Bold", Arial, sans-serif;
    font-size: 16px;
}

.field p {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.8;
    line-height: 1.7;
}

.fixed {
    background: #fff;
    position: fixed;
    z-index: 9998;
}

.fixed .bg {
    background: #fff;
}

.brand_desc, .title_desc, .created_desc {
    padding-right: 20px;
    float: left;
    background: url('/assets/images/admin/icons/table_down_arrow.png') no-repeat center right;
}

.brand_asc, .title_asc, .created_asc {
    padding-right: 20px;
    float: left;
    background: url('/assets/images/admin/icons/table_up_arrow.png') no-repeat center right;
}

.filter {
    font-weight: bold;
    text-decoration: underline;
}

.current_normal {}

.current_selected {}

.current_selected {
    color: #0286ED !important;
    border-bottom: 3px solid #0286ED;
}
